<div class="jumbotron jumbotron-fluid vak">
    <div class="container">
        <div class="alert" role="alert">
            <h1 class="animated fadeIn fast">Proyecto hecho en angular 6</h1>
            <p class="lead notran">El fin de esta pagina web es brindar informacion a los amantes de los perros, acerca de las distintas razas que existen y a que lugares podemos ir con ellos en nuestra ciudad.
            </p>

            <br>
            <p class="animated fadeIn">Argentina &copy; Lucas Zahir Bukato</p>
            <p class="animated fadeIn">Contact: lbukato@tgv.com.ar</p>
            <div>
                <img src="assets\img\TGVlogo2.png" alt="" srcset="" class="tam" />
            </div>
        </div>
    </div>
</div>