/* You can add global styles to this file, and also import other style files */

.imgdogo {
    background-image: url("assets/img/PharaohHoundExpensiveDogBreeds.jpg");
    background-repeat: no-repeat;
    opacity: 0.5;
}

.navbar {
    background-color: #ffffff;
}

.jumbotron {
    height: 900PX;
    margin-bottom: 0rem!important;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

.wid {
    width: 100%;
}