/* You can add global styles to this file, and also import other style files */

.imgdogo {
    background-image: url("assets/img/1.png");
    background-repeat: no-repeat;
}

.navbar {
    background-color: #ffffff;
}

.jumbotron {
    height: 900PX;
    margin-bottom: 0rem!important;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

.wid {
    width: 100%;
}

.card-img-top {
    width: 100% !important;
    height: 100% !important;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}