<div class="jumbotron jumbotron-fluid imgdogo">
    <div class="container">
        <h1 class="display-3">Perros</h1>
        <p class="lead notran">Nos han acompañado casi durante toda la historia de la humanidad. Hay muchisimas razas de perros que sirven para distintos tipos de trabajos/diciplinas o simplemente para la compañia de la familia.
        </p>
        <hr class="my-2">
        <p>El boton lo direcciona a un catalogo con las mejores razas de perros y sus cualidades mas importantes</p>
        <p class="lead">
            <a routerLink="/catalogo" routerLinkActive="active" class="btn btn-primary btn-lg notran" href="Jumbo action link" role="button">Ver catalogo</a>
        </p>
    </div>
</div>